* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B5D1EA;
}

.root {
  width: 65%;
  height: 100vh; /* vh: 브라우저 전체 화면에 높이 지정 */
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.top {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: center; /* 이거 완전 많이 쓰는 거래~ 밑에 것도 */
  align-items: center;
}

.header {
  width: 70%;
  height: 60%;
  background-color: #C6E2F4;
  border-radius: 23px;
  display: flex;
  justify-content: center; /* 가로축으로 할 때 */
  align-items: center; /* 세로축으로 할 때 */
}

.header > h1 { /* header 안에 있는 h1만 선택 */
  font-size: clamp(20px, 5vw, 46px); /* clamp(최소크기, 유동크기, 최대크기) */
  font-weight: 900;
}

.serif {
  font-family: 'Noto Serif KR', serif;
}

.main {
  width: 100%;
  height: 81%;
  display: flex;
  flex-direction: column; /* 가로로 정렬된 걸 세로로 정렬 */
  justify-content: space-between;
  align-items: center;
}

.input-box {
  border: 2px solid gray;
  width: 85%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  padding-left: 1%;
  border-radius: 15px;
}

.add-section {
  width: 85%;
  height: 87%;
  border-radius: 10px;
  background-color: #E7EFF4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  gap: 2px;
}

.input-box > input {
  width: 88%;
  height: 85%;
  font-size: 1rem;
  outline: none;
  border: none;
}

.add {
  width: 10%;
  height: 85%;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #C7D1EA;
  font-weight: 900;
  border: none;
}

.to-do {
  width: 88%;
  height: 12%;
  display: flex;
}

.choice {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice > input {
  appearance: none;
  width: 60%;
  height: 60%;
  background-color: #97A8B4;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.choice > input:checked::after {
  content: "✔";
  position: absolute;
  font-size: 30px;
  color: black;
  left: 20%;
  bottom: 15%;
}

.work {
  width: 92%;
  height: 85%;
  display: flex;
  border-bottom: 1px solid black;
}

.work > span {
  width: 82%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.work > time {
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #97A8B4;
  visibility: hidden;
}

.time-text {
  font-family: 'Kelly Slab', cursive;
}

.del {
  width: 6%;
  height: 100%;
  font-size: 35px;
  color: #97A8B4;
  background: none;
  border: none;
}
