* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B5D1EA;
}

.root {
  width: 65%;
  height: 100vh; /* vh: 브라우저 전체 화면에 높이 지정 */
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.top {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: center; /* 이거 완전 많이 쓰는 거래~ 밑에 것도 */
  align-items: center;
}

.header {
  width: 70%;
  height: 60%;
  background-color: #C6E2F4;
  border-radius: 23px;
}