* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B5D1EA;
}

.root {
  width: 65%;
  height: 100vh; /* vh: 브라우저 전체 화면에 높이 지정 */
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.top {
  width: 100%;
  height: 19%;
  
}